<!DOCTYPE html>
<html>
    <head>
        <title>MMSnake for JS</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>MMSnake</h1>
        <!-- link to same server, different port. Seems only be possible with JS-->
        <a href="/create_user_pass" target="_blank">
           Create User
        </a>

        <canvas id='mmsnake_canvas'></canvas>

        <!-- from https://unpkg.com/mqtt/dist/mqtt.min.js -->
        <script src="static/mqtt.min.js"></script>

        <script src='static/index.js'></script>
    </body>
</html>
